.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.homeContactUsBtnContainer{
  text-decoration: none;
}
.landingVideoContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.landingVideoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.titleContainer h2 {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 350;
  font-style: italic;
  text-align: center;
}

.subtitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.subtitleContainer span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
}

.subtitleBar {
  width: 90px;
  height: 2px;
  background-color: var(--primary-color);
}

.corporateContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
  padding: 4rem 0;
}

.corporateContainer span {
  width: 50%;
  text-align: center;
  font-size: 1.1rem;
  color: var(--text-color);
  font-family: "Poppins";
}

.weddingsReelsContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  position: relative;
  padding-bottom: 5rem;
}

.reelContainer {
  width: 16%;
  place-items: center;
}

.reelHeadijng {
  width: 100%;

  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 1rem;
  font-style: italic;
  /* transform: translateY(50px); */
  z-index: 1;
  transition: 0.5s;
  opacity: 1;
  scale: 1;
  text-align: center;
  clip-path: polygon(
    15px 0%,
    calc(100% - 15px) 0%,
    100% 50%,
    calc(100% - 15px) 100%,
    15px 100%,
    0% 50%
  );
  padding: 4px 0;
  font-size: 1.6rem;
}

.weddingsReelsContainer video {
  width: 100%;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

.navyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 4rem 0 10rem 0;
  position: relative;
  background-color: var(--secondary-color);
}

.navyReelContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navyReelContainer video {
  width: 60%;
  height: 550px;
  aspect-ratio: 19/6;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  margin: 0 auto;
}

.blob {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.footerDivider {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}

.carouselContentContainer {
  width: 100%;
  position: absolute;
  bottom: 0%;
  height: 100%;
  z-index: 2;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  color: white;
  padding: 0 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.554)
  );
}

.carouselSubContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contentContainerLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: flex-start;
  gap: 1rem;
}

.contentContainerLeft header {
  color: white;
  width: 100%;
  text-align: left;

  align-self: flex-start;
  font-size: 1.2rem;
  font-weight: 700;
}

.quoteIcon {
  display: inline;
  font-size: 2rem;
}

.content h1 {
  font-family: var(--heading-font) !important;
  font-weight: 500;
  margin-bottom: 1rem;
  font-style: italic;
}
.contentContainerLeft header {
  font-family: var(--heading-font) !important;
  font-weight: 500;
  font-size: 1.2em;

}
.address{
  font-family: var(--heading-font) !important;
  font-weight: 500;
}

.contentContainerLeft .content p {
  font-weight: 200;
  display: inline;
  font-size: 1.4rem;
}

.carouselContentContainer h5 {
  text-align: right;
  font-family: var(--heading-font) !important;
  font-weight: 500;
  font-size: 3rem;
  font-style: italic;
  font-weight: 500;
}

.homeContactUsBtn {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.5s;
}
.homeContactUsBtn:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.5s;
  scale: 0.9;
}

.wideReel{
  width: 50%;
}



@media screen and (max-width: 1500px) {
  .carouselContentContainer {
    padding: 0;
    padding-bottom: 2rem;
  }

  .weddingsReelsContainer{
    width: 100%;
  
  }
}

@media screen and (max-width: 1000px) {
  .carouselContentContainer{
    justify-content: center;
    padding: 0;
    padding-bottom: 2rem;
  }
  .corporateContainer span {
    width: 90%;
    text-align: justify;
  }

  .weddingsReelsContainer {
    flex-direction: column;
    
    width: 100%;
    flex-wrap: wrap;
    padding: 0px;
  }

  .reelContainer {
    width: 50%;
  }

  .subtitleContainer span{
    text-align: center;
  }

  .navyReelContainer{
    
    width: 90%;
  }

  .navyReelContainer video{
   
    width: 100%;
  }
}


@media screen and (max-width: 700px) {
  .carouselContentContainer {
    justify-content: center;
    padding: 0;
    padding-bottom: 2rem;
  }

  .contentContainerLeft {
    align-items: center;

    width: 100%;
  }

  .contentContainerLeft header {
    text-align: center;
    width: 100%;
  }

  .carouselSubContainer {
    padding: 0;
    flex-direction: column;
    gap: 2rem;
  }

  .content {
    align-items: center;
    justify-content: center;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content h1 {
    text-align: center;
  }

  .content p {
    text-align: center !important;
  }

  .homeContactUsBtn {
    margin: 1rem 0 4rem 0;
    scale: 1.5;
  }

  .homeContactUsBtn:hover {
    scale: 1.2;
  }

  .carouselContentContainer h5 {
    text-align: center;
  }

  .howWeDoItSubContainer {
    grid-template-columns: 1fr;
  }

  .reelContainer{
    width: 90%;
  }

  .navyReelContainer{
    
    width: 90%;
    height: 300px;
    object-fit: contain;
  }


  .navyReelContainer video{
   
    width: 100%;
    height: 300px;
  }
}

