.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.titleContainer h2 {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 4rem;
}

.subtitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.subtitleContainer span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.subtitleBar {
  width: 90px;
  height: 2px;
  background-color: var(--primary-color);
}
