.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.titleContainer h2 {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 350;
}

.instaTitle h2 {
  font-family:var(--heading-font), sans-serif;
  font-weight: 350;
}

.subtitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.subtitleContainer span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.subtitleBar {
  width: 90px;
  height: 2px;
  background-color: var(--primary-color);
}

.homeCarouselContainer {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.weddingsSection {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.weddingDescriptionHome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weddingDescriptionHome p {
  width: 40%;
  text-align: center;
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding: 1rem;
}

.corporateContainer {
  width: 100%;
  background-color: var(--secondary-color);
  position: relative;
  padding-bottom: 4rem;
}

.blob {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.corporateDescContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corporateDescContainer p {
  width: 40%;
  text-align: center;
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding: 1rem;
}

.portfolioContainer {
  width: 100%;
  padding: 4rem 0rem 10rem 0rem;

  position: relative;

}

.ourFeaturedContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--secondary-color);
  padding: 4rem 0rem 10rem 0rem;
  overflow: hidden;
}

.reelsContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;

  position: relative;
  z-index: 2;
}

.reel {
  width: 300px;
}
.reelBorderOne {
  position: absolute;
  width: 20%;
  z-index: 5;
  left: 0;
  top: 0;
  transform: translate(-20%, -50%) rotate(-45deg) scale(1.8);
}

.reelBorderTwo {
  position: absolute;
  width: 20%;
  z-index: 5;
  right: 0;
  bottom: 0;

  transform: translate(50%, 20%) rotate(135deg) scale(1.8);
}

.footerDivider {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}

.instagramSection {
  width: 100%;
  position: relative;
  padding: 4rem 0rem 14rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.instagramImgConainer {
  width: 60%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  cursor: pointer;
  position: relative;
  overflow: hidden;

}

.instagramImgConainer a {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.instagramImgConainer img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  opacity: 1 ;

  transition: 0.5s;
  border-radius: 10px;
}

.instagramImgDiv {
  width: 100%;
  aspect-ratio: 1/1;
  /* height: 350px; */
  transition: 0.5s;
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.instagramImgDiv a {
  display: block;
  width: 100%;
  height: 100%;

  z-index: 45;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagramImgDiv:hover img {
  opacity: 0.4;
  transition: 0.3s;
  scale: 1.05;
}

.instagramImgDivIcon {
  top: 50%;
  left: 50%;

  font-size: 2.4rem;
  color: white;
  opacity: 0;
  z-index: 1;
  scale: 0.5;
  transition: 0.5s;
  transform-origin: center;
}

.instagramImgDiv:hover .instagramImgDivIcon {
  opacity: 1;
  scale: 1;
  transition: 0.3s;
  transform-origin: center;
}

.instatitleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.instatitleContainer h2 {
  font-family: "Josefin Sans", sans-serif;

  font-size: 2rem;
  font-weight: 350;
  background-color: red !important;
}

.instasubtitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.instasubtitleContainer span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.instasubtitleBar {
  width: 90px;
  height: 2px;
  background-color: var(--primary-color);
}

.aboutUsLanding {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: 8rem 0;
}

.aboutusLandingContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.aboutusLandingContainer h3 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 350;
  color: var(--primary-color);

  font-size: 2rem;
}

.aboutusLandingContainer p {
  width: 90%;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);

}

.aboutUsLandingHeadingTwo {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.aboutUsLandingHeadingTwo span {
  width: 10%;
  height: 2px;
  background-color: var(--primary-color);
}

.aboutUsLandingHeadingTwo h3 {
  background-color: var(--primary-color);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 1rem;
}

.blob {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.blobTwo {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.founderContainer {
  width: 100%;
  /* background-color: var(--secondary-color); */
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.founderImgDiv {
  width: 30%;
}

.founderSubContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.founderImgDiv {
  position: relative;
  z-index: 1;
}
.founderImgDiv img {
  width: 100%;
  border-radius: 20px;
  /* box-shadow: 20px 20px 0px 0px #b38639ba; */
  display: block;
  height: auto;
  z-index: 1;
}

.founderImgDiv::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #b386393f;
  border-radius: 16px;
  right: -30px;
  bottom: -30px;
  z-index: -1;
}

.founderDescriptionContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.founderDescriptionContainer h3 {
  font-family: var(--heading-font) !important;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 3rem;
}

.founderDescriptionContainer header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 550;
  width: 100%;
  color: black;
  text-align: left;
  font-size: 1.4rem;
}

.founderDescriptionContainer p {
  width: 80%;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

@media screen and (max-width: 1000px) {
  .aboutUsLanding {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6rem;

    padding: 2rem;
  }

  .aboutusLandingContainer {
    width: 100%;
  }

  .founderSubContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .founderDescriptionContainer {
    width: 90%;
    align-items: center;
  }

  .founderDescriptionContainer header {
    text-align: center;
  }

  .founderImgDiv {
    width: 50%;
  }

  .founderImgDiv::after {
    right: -10px;
    bottom: -10px;
  }

  .founderSubContainer p{
    text-align: justify;
   
    width: 100%;
  }

  .weddingDescriptionHome p{
    
    width: 90%;
    text-align: justify;
  }

  .corporateContainer {
    padding: 2rem 0;
  }

  .corporateDescContainer p{
    width: 90%;
    text-align: justify;

  }

  .instagramImgConainer{
    width: 90%;
  
  }
 
}


@media screen and (max-width : 600px) {
  .instagramImgConainer{
    grid-template-columns: 1fr 1fr;
  }
}