.slider {
  width: 70%;
  overflow: hidden;

  margin: 2rem auto;

  outline: none;
  border: none;
 
}

.imgsContainer{
  outline: none;
  border: none;

 
}

.imgsContainer img {
  width: 90%;
  height: 500px;
  object-fit: cover;
  /* border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem; */
  margin: 0 auto;
object-position: center;
  outline: none;
  border: none;
  scale: 1;
  transition: 0.5s;
}

.imgsContainer img:hover{
  scale: 1.03;
  transition: 0.5s;
}

@media screen and (max-width : 600px) {
  .imgsContainer img {
    width: 100%;
    height: 400px;
   
  }
}