.servicecard {
  background-color: rgb(234, 226, 214);
  width: 350px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s;
  height: 100%;
}



.iconContiner {
  display: inline;
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
  

  padding: 10px;
  margin-bottom: 1rem;
}

.servicecard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.servicecard h3 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary-color);
}

.servicecard p {
  font-family: "Poppins", sans-serif;
  color: black;
  text-align: center;
  transition: 0.5s;
}

.servicecard:hover {
  transition: 0.3s;

}
.servicecard:hover h3 {
  transition: 0.3s;
 
}

.servicecard:hover p {
  color: black;
transition: 0.5s;
}

/* .transform{
  transform: translateY(30px);
} */
