.servicecard {
  background-color: rgb(234, 226, 214);
  /* width: 350px; */
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s;
  height:100% ;
}
.servicecard:hover{
  scale: 1.1;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.186);
}



.iconContiner {
  display: inline;
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
  

  padding: 10px;
  margin-bottom: 1rem;
}

.servicecard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.servicecard h3 {
  font-family: var(--heading-font), sans-serif;
  color: var(--primary-color);
  text-align: left;
  text-transform: capitalize;
  font-size: 1.5rem;
  width: 100%;
}

.servicecard p {
  font-family: "Poppins", sans-serif;
  color: black;
  text-align: left;
  transition: 0.5s;
}

.servicecard:hover {
  transition: 0.3s;

}
.servicecard:hover h3 {
  transition: 0.3s;
 
}

.servicecard:hover p {
  color: black;
transition: 0.5s;
}

/* .transform{
  transform: translateY(30px);
} */


/* @media screen and (max-width: 1100px) {
  .servicecard{
    width: 100%;
  }
} */