.carouselContainer {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}
.landingVideoContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.landingVideoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.slider {
  width: 100%;
  height: 100%;
  z-index: 1;
  
}

.imgsSlide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background-color: black;
}

.imgsSlide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
  opacity: 1;
}

.homeContactUsBtnContainer {
  text-decoration: none;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.arrowBack {
  left: -50px;
}

.arrorNext {
  right: -50px;
}



.weddingsInGoaContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0;
  gap: 2rem;
}

.weddingsInGoaContainer p {
  width: 50%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

.weddingsReelsContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  position: relative;
  padding-bottom: 5rem;
}

.reelContainer {
  width: 16%;
  place-items: center;
}

.reelHeadijng {
  width: 90%;

  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 350;
  margin-bottom: 1rem;
  font-size: ;
  /* transform: translateY(50px); */
  z-index: 1;
  transition: 0.5s;
  font-size: 1.8rem;
  text-align: center;
}

/* .reelContainer:hover .reelHeadijng{
  transform: translateY(0px);
  transition: 0.3s;
  scale: 1;
  opacity: 1;
} */
.weddingsReelsContainer video {
  width: 100%;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

.portfolioContainer {
  width: 100%;
  place-items: center;
  background-color: var(--secondary-color);
  position: relative;
  padding: 4rem 0 6rem 0;
}

.portfolio {
  width: 80%;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  place-items: center;
  padding: 4rem 0;
  transition: 0.5s;
}

.portfolioOne {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 0.5s;
}

.portfolioRowOne {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.portfolioCardHeadingContainer {
  width: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border-radius: 30px; */
  background-color: peachpuff;
  transition: 0.5s;
  background-image: url("/dividers/frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolioCardHeadingContainer header {
  font-family: "Slight", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.portfolioCardHeadingContainer img {
  width: 100%;
  scale: 1.2;
}

.rowOneImgContainer {
  width: 100%;
  height: 48%;
  background-color: peachpuff;
  padding: 1rem;
  /* border-radius: 30px; */
}
.rowOneImgContainer img {
  /* border-radius: 80px; */
  border-top-right-radius: 550px;
  border-bottom-right-radius: 550px;
  transition: 0.5s ease-in-out;
}
.rowOneImgContainerTwo {
  width: 100%;
  height: 48%;
  background-color: peachpuff;
  padding: 1rem;
  /* border-radius: 30px; */
  transition: 0.5s;
}

.rowOneImgContainerTwo img {
  /* border-radius: 80px; */
  border-top-left-radius: 550px;
  border-bottom-left-radius: 550px;
  transition: 0.7s ease-in-out;
}

.cardBottomBorder {
  transform: rotate(180deg);
}

.imgsSectionOne {
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.imgsSectionOne img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.rowTwo {
  width: 100%;
  /* border-radius: 30px; */
  padding: 1rem;
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  gap: 1rem;
}

.rowTwoSub {
  width: 100%;
  height: 50%;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
}

.rowTwoImgContainer:nth-child(1) {
  width: 58%;
  /* padding: 1rem; */
}
.rowTwoImgContainer:nth-child(2) {
  width: 38%;
  /* padding: 1rem; */
  /* background-color: red; */
}

.rowTwoSub img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  /* border-radius: 30px; */
}

.rowTwoPortfolioTwo img {
  /* border-radius: 1000px; */
  border-bottom-left-radius: 10000px;
  border-bottom-right-radius: 10000px;
  transition: all 0.7s ease-in-out;
  will-change: border-radius, transform;
}

.rowTwo header {
  font-family: "Times New Roman", Times, serif;
  color: var(--primary-color);
  font-style: italic;
  font-weight: 600;
}

.portfolioOne:hover .rowOneImgContainerTwo,
.portfolioOne:hover .rowOneImgContainer,
.portfolioOne:hover .portfolioCardHeadingContainer,
.portfolioOne:hover .rowTwo {
  transition: 0.5s;
  /* background-color: rgb(248, 226, 207);
   */
  background-color: rgba(255, 218, 185, 0.37);
}

.rowOneImgContainer img,
.rowOneImgContainerTwo img,
.rowTwoPortfolioTwo img,
.rowTwoPortfolio img {
  transition: all 1s ease-in-out;
  will-change: border-radius, transform;
}

.portfolioOne:hover .rowOneImgContainer img,
.portfolioOne:hover .rowOneImgContainerTwo img,
.portfolioOne:hover .rowTwoPortfolioTwo img,
.portfolioOne:hover .rowTwoPortfolio img {
  border-radius: 30px;
  transform: scale(1.02);
  transition: 0.9s;
}

.testimonialsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 10rem 0;
  gap: 4rem;
  position: relative;
}

.testimonialsContainer h3 {
  font-family: var(--heading-font), sans-serif;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 350;
}

.testimonialsSubContainer {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: stretch;
}

.testimonialSubSub {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.testimonialContent {
  width: 100%;

  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  /* box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.361); */
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  gap: 1rem;
  font-size: 1.1rem;

  text-align: justify;
  line-height: 1.6;

}

.testimonialContent span {
  font-size: 1.1rem;

  text-align: justify;
  line-height: 1.6;
 
}

.testimonialContent header {
  font-family: var(--heading-font), sans-serif;
  font-style: italic;
  font-size: 1.7rem;
  color: var(--primary-color);
}

.blob {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.footerDivider {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}

.howWeDoItContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: rgb(239, 234, 218);
  padding: 3rem 0;
  margin: 5rem 0;
}

.howWeDoItContainer h5 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.howWeDoItSubContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.howWeDoItSubContainer img {
  width: 70%;
}

.howWeDoItItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.howWeDoItItemContainer header {
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.howWeDoItContainer p {
  width: 80%;
  text-align: center;
  color: var(--text-color);
  font-family: "Josefin Sans", sans-serif;
}

.getInTouchContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.getInTouchContainer h6 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary-color);
  font-size: 1.4rem;
}

.getInTouchContainer a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  border-radius: 10px;
  transition: 0.5s;
}

.whatsappicon {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.getInTouchContainer a:hover {
  background-color: var(--primary-color);
  transition: 0.5s;
  scale: 0.91;
}

.getInTouchContainer a:hover h6 {
  color: white;
  transition: 0.5s;
}
.getInTouchContainer a:hover .whatsappicon {
  color: white;
  transition: 0.5s;
}

.venuesWeHaveWorkedWith {
  width: 100%;
}

.carousel {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.carouseltrack {
  display: flex;
  animation: scroll 30s linear infinite;
  gap: 2rem;
}

.carouselitem {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 20px;
}

.carouselitem img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-250%);
  }
}

.venuesWeHaveWorkedWith {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 10rem 0;
}

.venuesWeHaveWorkedWith h4 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary-color);
  margin-bottom: 3rem;
}

.carouselContentContainer {
  width: 100%;
  position: absolute;
  bottom: 0%;
  height: 100%;
  z-index: 2;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  color: white;
  padding: 0 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.685)
  );
}

.carouselSubContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contentContainerLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: flex-start;
  gap: 1rem;
}

.contentContainerLeft header {
  color: white;
  width: 100%;
  text-align: left;

  align-self: flex-start;
  font-size: 1.2rem;
  font-weight: 700;
}

.quoteIcon {
  display: inline;
  font-size: 2rem;
}

.content h1 {
  font-family: var(--heading-font) !important;
  font-weight: 500;
  margin-bottom: 1rem;
  font-style: italic;
}
.contentContainerLeft header {
  font-family: var(--heading-font) !important;
  font-weight: 500;
  font-size: 1.2em;
}

.contentContainerLeft .content p {
  font-weight: 200;
  display: inline;
  font-size: 1.4rem;
}
.address {
  font-family: var(--heading-font) !important;
  font-weight: 500;
}

.carouselContentContainer h5 {
  text-align: right;
  font-family: var(--heading-font) !important;

  font-size: 3rem;
  font-style: italic;
  font-weight: 500;
}

.homeContactUsBtn {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.5s;
}
.homeContactUsBtn:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.5s;
  scale: 0.9;
}

@media screen and (max-width: 1500px) {
  .carouselContentContainer {
    padding: 0;
    justify-content: center;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .weddingsInGoaContainer p {
    width: 90%;
  }
  .weddingsReelsContainer {
    width: 100%;
    flex-wrap: wrap;
  }

  .reelContainer {
    width: 40%;
  }

  .carouselitem img {
    width: 100%;
    height: 70px;
    object-fit: contain;
  }
  .carouselitem {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 10px;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-250%);
    }
  }

  .testimonialsSubContainer {
    flex-direction: column;
    width: 90%;

    align-items: center;
    gap: 1rem;
  }

  .testimonialContent {
    width: 100%;
  }

  .testimonialsSubContainer img {
    width: 100%;
  }

  .howWeDoItItemContainer img {
    width: 100%;
  }
}

@media screen and (max-width: 1150px) {
  .testimonialSubSub {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
  }

  .testimonialsSubContainer img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (max-width: 700px) {
  .carouselContentContainer {
    justify-content: center;
    padding: 0;
    padding-bottom: 2rem;
  }

  .contentContainerLeft {
    align-items: center;

    width: 100%;
  }

  .contentContainerLeft header {
    text-align: center;
    width: 100%;
  }

  .carouselSubContainer {
    padding: 0;
    flex-direction: column;
    gap: 2rem;
  }

  .content {
    align-items: center;
    justify-content: center;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content h1 {
    text-align: center;
    transform: skewX(10deg) !important; 
  display: inline-block;
  font-size: 3rem;
  }

  .content p {
    text-align: center !important;
  }

  .homeContactUsBtn {
    margin: 1rem 0 4rem 0;
    scale: 1.5;
  }

  .homeContactUsBtn:hover {
    scale: 1.2;
  }



  .howWeDoItSubContainer {
    grid-template-columns: 1fr;
  }

  .carouselContentContainer h5 {
    text-align: center;
    font-size: 2.3rem;
    transform: skewX(10deg) !important; 
  display: inline-block;

  }
  .contentContainerLeft header {
    transform: skewX(10deg) !important; 
    display: inline-block;
  }
  
  .address{
    transform: skewX(10deg) !important; 
    display: inline-block;
    
  }
  .testimonialContent header {
    transform: skewX(10deg) !important; 
    display: inline-block;
  }
}
