.videoContainer {
  width: 100vw;
  height: 70vh;
}

.landingVideoContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.landingVideoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blogsSubContainer {
  width: 70%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1rem;
  margin: 0 auto;
  padding: 7rem 0;
}

.blogsContainer {
  padding: 4rem 0;
  /* position: absolute; */
}

.blogsContainer header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 350;
  font-size: 2.8rem;
  color: var(--primary-color);
  text-align: center;
}
.blogsCard {
  width: 25%;

  font-family: "Josefin Sans", sans-serif;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  transition: 0.5s;
 
  padding: 1rem;
  position: relative;
  justify-content: flex-start;
}

.blogsCard h5 {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;

  font-weight: 350;
}

.blogsCard button {
  width: 60%;
  border: none;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  border-radius: 14px;
  font-weight: 350;
  color: var(--primary-color);
  background-color: transparent;
  transition: 0.5s;
  border: 1px solid var(--primary-color);
  margin-top: auto;
}

.blogsCard button:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
  scale: 1.1;
  background-color: var(--primary-color);
}

.blogsImgContainer {
  width: 100%;
  position: relative;
}

.blogsCard img {
  width: 100%;
  aspect-ratio: 9/12;
  object-fit: cover;
  transition: 0.5s;
}

.blogsDateContainer {
  background-color: white;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transform: translate(25%, 25%);
}

.blogsDateContainer header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1;
}

.footerDiv {
  width: 100%;
  position: relative;
}

.footerDivider {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}

.carouselContentContainer {
  width: 100%;
  position: absolute;
  bottom: 0%;
  height: 100%;
  z-index: 2;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  color: white;
  padding: 0 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.554)
  );
}

.carouselSubContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contentContainerLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: flex-start;
  gap: 1rem;
}

.contentContainerLeft header {
  color: white;
  width: 100%;
  text-align: left;

  align-self: flex-start;
  font-size: 1.2rem;
  font-weight: 700;
}

.quoteIcon {
  display: inline;
  font-size: 2rem;
}

.content h1 {
  font-family: "Josefin Sans", sans-serif !important;
  margin-bottom: 1rem;
}
.contentContainerLeft header {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 1.2em;
  font-weight: 350;
}

.contentContainerLeft .content p {
  font-weight: 200;
  display: inline;
  font-size: 1.4rem;
}

.carouselContentContainer h5 {
  text-align: right;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.homeContactUsBtn {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.5s;
}
.homeContactUsBtn:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.5s;
  scale: 0.9;
}

@media screen and (max-width: 1500px) {
  .carouselContentContainer {
    padding: 0;
    padding-bottom: 2rem;
  }

  .blogsSubContainer {
    width: 90%;
  }
  .blogsCard button {
    width: 100%;
    
  }
}

@media screen and (max-width: 1000px) {
  .carouselContentContainer {
    padding: 0;
  }

  .blogsSubContainer {
    width: 90%;
  }

  .blogsCard button {
    width: 100%;
    
  }


  .blogsCard {
    width: 30%;
  
    
  }
}

@media screen and (max-width: 700px) {
  .carouselContentContainer {
    justify-content: center;
    padding: 0;
    padding-bottom: 2rem;
  }

  .contentContainerLeft {
    align-items: center;

    width: 100%;
  }

  .contentContainerLeft header {
    text-align: center;
    width: 100%;
  }

  .carouselSubContainer {
    padding: 0;
    flex-direction: column;
    gap: 2rem;
  }

  .content {
    align-items: center;
    justify-content: center;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content h1 {
    text-align: center;
  }

  .content p {
    text-align: center !important;
  }

  .homeContactUsBtn {
    margin: 1rem 0 4rem 0;
    scale: 1.5;
  }

  .homeContactUsBtn:hover {
    scale: 1.2;
  }

  .carouselContentContainer h5 {
    text-align: center;
  }

  .howWeDoItSubContainer {
    grid-template-columns: 1fr;
  }



  
  .blogsCard {
    width: 90%;
  
    
  }

  .blogsSubContainer{
    flex-wrap: wrap;
  

  }
}
